footer {
    background-color: rgb(39, 20, 211);
}

#footer_itens {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: black;
    font-weight: 500;
}